@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.warehouseDetailsForm {
    
    

    label {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }

    input {
        border-radius: 20px;
        border: 1px $Cloud solid;
        height: 2rem;
        width: 100%;
        
        &::placeholder {
            padding-left: 1rem;
        }
    }

    h2 {
        margin: 1rem;
        margin-left: 1.5rem;

        @include tablet {
            margin-top: 0;
        }
    }

    &__overall-container {
        @include tablet {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
        }
    }

    &__field-container {
        margin: 0 1.5rem;
        margin-bottom: 0.8rem;
    }

    &__buttons-container {
        margin: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-around;

        @include tablet {
            display: flex;
            justify-content: end;
        }
    }

    &__button-cancel {
        border-radius: 20px;
        border: 1px $Cloud solid;
        color: $Instock-Black;
        width: 9.5rem;
        height: 2.3rem;
        font-size: 13px;
        background-color: $White;

        @include tablet {
            margin-right: 1rem;
            width: 4.5rem;
        }
    }

    &__button-addWarehouse {
        border-radius: 20px;
        border: 1px $Cloud solid;
        width: 9.5rem;
        height: 2.3rem;
        background-color: $Instock-Indigo;
        color: $White;
        font-size: 13px;
    }
}

.warehouseDetails-container {
    border-bottom: 1px $Cloud solid;
    padding-bottom: 1.5rem;

    @include tablet {
        border-bottom: none;
        width: 40%;
        padding-bottom: 0;
    }
}

.contactDetails-container {
    padding-bottom: 0.5rem;

    @include tablet {
        border-left: 1px $Cloud solid;
        width: 45%;
        padding-bottom: 0;
        padding-left: 2rem;
    }
}