.warehouse-data-list {

    &__header-unordered-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
    }

    &__header-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__header-list-items {
        display: inline-flex;
        flex-direction: column;
    }

}