@use "../../styles/partials/mixins" as *;

.warehouses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.10);

    @include mobile {
        width: 100%;
        // height: 140rem;
        // height: 90rem;
        height: 100rem;
    }

    @include desktop {
        // width: 80%;
        // height: 42rem;
        width: 100%;
        height: 47rem;
    }
}