@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.titleBar {
    margin: 16px;
    padding-top: 2rem;
    
    @include tablet {
        display: flex;
    }
    

    &__search {
        border-radius: 15px;
        padding: 0.4rem;
        background-image: url(../../assets/Icons/search-24px.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        width: 80%;
        margin: 16px 0;
        
    }

    &__button {
        background-color: $Instock-Indigo;
        color: $White;
        border-radius: 15px;
        padding: 0.5rem;
        width: 80%;
    }
}