@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.titleBar2 {
    display: flex;
    padding: 1.5rem;
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid $Cloud;

    &__back-arrow {
        margin-right: 0.6rem;
    }
}